<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baza klientów</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <span class="title">Przeglądaj Bazę Klientów</span>
    </header>

    <!-- <div class="main-content">
        <div class="item">
            <p class="item-name">Item1</p>
        </div>
    </div> -->
    <main>
        <section id="view-clients">
            <h2>Lista klientów</h2>
            <table id="view-clients-table">
                <thead>
                    <tr>
                        <th>Numer klienta</th>
                        <th>Nazwa instytucji</th>
                        <!-- Adres -->
                        <th>Ulica</th>
                        <th>Numer</th>
                        <th>Kod pocztowy</th>
                        <th>Miejscowość</th>
                        <!-- Adres odbioru -->
                        <th>Miejsce odbioru</th>
                        <th>Ulica</th>
                        <th>Numer</th>
                        <th>Kod pocztowy</th>
                        <th>Miejscowość</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Testowe -->
                    <tr>
                        <td>1</td>
                        <td>Zakład Opieki Zdrowotnej Szpital im. Jana Pawła II we Włoszczowie</td>
                        <!-- Adres -->
                        <td>ul. Żeromskiego</td>
                        <td>28</td>
                        <td>29-100</td>
                        <td>Włoszczowa</td>
                        <!-- Adres odbioru -->
                        <td>*Adres*</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Zespół Szkolno-Przedszkolny nr 5</td>
                        <!-- Adres -->
                        <td>ul. Św. Barbary</td>
                        <td>32</td>
                        <td>42-200</td>
                        <td>Częstochowa</td>
                        <!-- Adres odbioru -->
                        <td>Plac</td>
                        <td>ul. Jakas tam</td>
                        <td>30</td>
                        <td>42-200</td>
                        <td>Częstochowa</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- <section id="add-client">
            <h2>Dodaj nowego klienta</h2>
            <form id="add-client-form">
                <label for="nazwa_instytucji">Nazwa instytucji:</label>
                <input type="text" id="nazwa_instytucji" name="nazwa_instytucji" required>

                <label for="ulica">Ulica:</label>
                <input type="text" id="ulica" name="ulica" required>
                
                <label for="numer">Numer:</label>
                <input type="text" id="numer" name="numer" required>
                
                <label for="kod_pocztowy">Kod Pocztowy:</label>
                <input type="text" id="kod_pocztowy" name="kod_pocztowy" required>
                
                <label for="miejscowosc">Miejscowość:</label>
                <input type="text" id="miejscowosc" name="miejscowosc" required>

                <button type="submit">Dodaj klienta</button>
            </form>
        </section> -->

        <!-- <section id="edit-client">
            <h2>Edytuj klienta</h2> -->
            <!-- <form id="edit-client-form"> -->
                <!-- Podobna struktura jak w formularzu dodawania, ale wypełniona danymi do edycji -->
                <!-- <input type="hidden" id="edit-client-id">
                
                <label for="edit-nazwa_instytucji">Nazwa Instytucji:</label>
                <input type="text" id="edit-nazwa_instytucji" name="edit-nazwa_instytucji" required>
                
                <label for="edit-ulica">Ulica:</label>
                <input type="text" id="edit-ulica" name="edit-ulica" required>
                
                <label for="edit-numer">Numer:</label>
                <input type="text" id="edit-numer" name="edit-numer" required>
                
                <label for="edit-kod_pocztowy">Kod Pocztowy:</label>
                <input type="text" id="edit-kod_pocztowy" name="edit-kod_pocztowy" required>
                
                <label for="edit-miejscowosc">Miejscowość:</label>
                <input type="text" id="edit-miejscowosc" name="edit-miejscowosc" required>
                
                <button type="submit">Zapisz Zmiany</button>
            </form>
        </section> -->
    </main>

    <footer>
        <p>&copy; 2024 Krystian Będuch</p>
    </footer>
</body>
</html>