<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja klientów</title>
      <link rel="stylesheet" type="text/css" href="/css/admin-style.css">
<!--   <link rel="stylesheet" type="text/css" href="../static/css/admin-style.css">-->
<!--        <script src="../static/js/edit-client.js"></script>-->
    <script type="module" src="/js/group_clients/edit-client.js"></script>
</head>
<body>
    <header>
        <span class="title">Edycja Klienta</span>
    </header>

    <main id="edit-main">
        <!-- Sekcja skrócona tabela klientów -->
        <section id="client-overview">
            <a th:href="@{/admin/}" class="back-button">Powrót</a>
            <h2>Lista klientów</h2>
            <table id="client-overview-table">
                <thead>
                    <tr>
                        <th>Numer klienta</th>
                        <th>Nazwa instytucji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}"
                        th:data-client-number="${client.clientNumber}">
                        <td th:text="${client.clientNumber}"></td>
                        <td th:if="${client.alias != null and !client.alias.equals('')}" th:text="${client.name} + ' (' + ${client.alias} + ')'"></td>
                        <td th:unless="${client.alias != null and !client.alias.equals('')}" th:text="${client.name}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Sekcja formularz edycji klienta -->
        <section id="edit-client">
            <h2>Edytuj klienta</h2>
            <form id="client-form" th:action="@{'/admin/form/edit'}" method="post">
                <!-- Wymagane dla Springa -->
                <input type="hidden" name="_method" value="put">

                <label for="edit-client-id">Numer Klienta:</label>
                <input type="text" id="edit-client-id" name="clientNumber" readonly>
                    
                <label for="edit-name">Nazwa Instytucji:</label>
                <input type="text" id="edit-name" name="name"required>

                <label for="edit-alias">Nazwa Potoczna:</label>
                <input type="text" id="edit-alias" name="alias">

                <fieldset class="form-group address-group">
                    <legend>Adres</legend>    
                    <label for="edit-street">Ulica:</label>
                    <input type="text" id="edit-street" name="street" required>
                    
                    <label for="edit-number">Numer:</label>
                    <input type="text" id="edit-number" name="number" required>
                    <span class="error-message" id="error-edit-number"></span>
                    
                    <label for="edit-post-code">Kod Pocztowy:</label>
                    <input type="text" id="edit-post-code" name="postCode" required>
                    <span class="error-message" id="error-edit-post-code"></span>
                    
                    <label for="edit-city">Miejscowość:</label>
                    <input type="text" id="edit-city" name="city" required>
                </fieldset>

                <div class="checkbox-group">
                    <input type="checkbox" id="pickup-location-same-as-address" name="sameAsAddress">
                    <label for="pickup-location-same-as-address">Miejsce odbioru takie samo jak adres</label>
                </div>
                <fieldset class="form-group pickup-location-group">
                    <legend>Miejsce Odbioru</legend>
                    
                    <label for="edit-pickup-location">Miejsce:</label>
                    <input type="text" id="edit-pickup-location" name="pickupLocation.pickupLocation">
                    
                    <label for="edit-pickup-street">Ulica:</label>
                    <input type="text" id="edit-pickup-street" name="pickupLocation.pickupStreet">
                    
                    <label for="edit-pickup-number">Numer:</label>
                    <input type="text" id="edit-pickup-number" name="pickupLocation.pickupNumber">
                    <span class="error-message" id="error-edit-pickup-number"></span>
                    
                    <label for="edit-pickup-post-code">Kod Pocztowy:</label>
                    <input type="text" id="edit-pickup-post-code" name="pickupLocation.pickupPostCode">
                    <span class="error-message" id="error-edit-pickup-post-code"></span>
                    
                    <label for="edit-pickup-city">Miejscowość:</label>
                    <input type="text" id="edit-pickup-city" name="pickupLocation.pickupCity">
                </fieldset>

                <button type="submit">Zapisz Zmiany</button>
            </form>

            <div>
                <p th:text="${errorMessage}" id="client-error-message"></p>
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments :: CopyrightFooter}"></footer>
</body>
</html>