<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja szablonu email</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/email-style.css">
    <script type="module" src="/js/sidebar.js"></script>
    <script type="module" src="/js/email-template/add-attachment.js"></script>
</head>
<body>
<nav th:replace="~{fragments :: SidebarMenu}"></nav>

<main id="home-main">
    <header th:replace="~{fragments :: header(headerTitle='Edycja email')}"></header>

    <section id="edit-template-section">
        <form id="edit-template-form" th:action="@{'/email/edit-template'}" method="post" enctype="multipart/form-data">
            <!-- Wymagane dla Springa -->
            <input type="hidden" name="_method" value="put">
            <!-- atrybut name odpowiada @RequestParam() w kontrolerze -->
            <input type="hidden" th:value="${emailTemplateId}" name="templateId" readonly>
            <!--    docelowo ID type=hidden -->

            <label for="template-name">Tytuł szablonu:</label>
            <input type="text" id="template-name" th:value="${emailTemplateName}" name="templateName" size="50" required>

            <label for="template-subject">Temat wiadomości:</label>
            <input type="text" id="template-subject" th:value="${emailTemplateSubject}" name="templateSubject" size="50" required>

            <label for="ta-edit-template">Edycja szablonu:</label>
            <textarea id="ta-edit-template" th:text="${emailTemplateContent}" name="content" rows="40" cols="140"></textarea>

            <fieldset class="attachment-fieldset">
                <legend>Załączniki</legend>
                <ul id="attachment-list">
                    <li th:each="attachment : ${attachments}">
                        <a th:href="@{/email/attachments/{id}(id=${attachment.attachmentId})}"
                           th:text="${attachment.filename}" target="_blank"></a>
                        <!-- Opcjonalnie: przycisk do usunięcia załącznika -->
                        <input type="hidden" name="existingAttachments" th:value="${attachment.attachmentId}">
                        <button type="button" class="delete-attachment-button" th:onclick="'deleteAttachment(' + ${attachment.attachmentId} + ')'">Usuń załącznik</button>
                    </li>
                </ul>
                <input type="file" id="new-attachment" name="attachments" accept="application/pdf" multiple>
<!--                hidden -->
<!--                style="display: none"-->
<!--                <button type="button" class="add-attachment-button" onclick="document.getElementById('attachments').click();">Dodaj załącznik</button>-->
                <button type="button" id="add-attachment-button">Dodaj załączniki</button>
            </fieldset>

            <button type="submit">Zapisz Zmiany</button>
        </form>
    </section>

    <footer th:replace="~{fragments :: CopyrightFooter}"></footer>
</main>

</body>
</html>