<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szablony email</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/email-style.css">
    <script type="module" src="/js/sidebar.js"></script>
</head>
<body>
    <nav th:replace="~{fragments :: SidebarMenu}"></nav>

    <main id="home-main">
        <header th:replace="~{fragments :: header(headerTitle='Szablony email')}"></header>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Tytuł szablonu</th>
                        <th>Data modyfikacji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emailTemplate, stat: ${emailTemplates}">
                        <td><a th:href="@{/email/edit-template/{id}(id=${emailTemplate.emailTemplateId})}" th:text="${emailTemplate.name}"></a></td>
                        <td th:text="${#temporals.format(emailTemplate.updateDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <tr th:each="emailTemplate, stat: ${emailTemplates}">
                        <td><a th:href="@{/email/send/{id}(id=${emailTemplate.emailTemplateId})}">Wyślij maila: <span th:text="${emailTemplate.name}"></span></a></td>
                        <td th:text="${#temporals.format(emailTemplate.updateDate, 'dd.MM.yyyy HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage}" class="alert alert-error">
            <p th:text="${errorMessage}"></p>
        </div>


        <footer th:replace="~{fragments :: CopyrightFooter}"></footer>
    </main>

</body>
</html>
