<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szablony email</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/email-style.css">
    <script type="module" src="/js/sidebar.js"></script>
</head>
<body>
    <nav th:replace="~{fragments :: SidebarMenu}"></nav>

    <main id="home-main">
        <header th:replace="~{fragments :: header(headerTitle='Szablony email')}"></header>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Tytuł szablonu</th>
                        <th>Data modyfikacji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emailTemplate, stat: ${emailTemplates}">
                        <td><a th:href="@{/email/edit-template}" th:text="${emailTemplate.name}"></a></td>
                        <td th:text="${#temporals.format(emailTemplate.updateDate, 'dd.MM.yyyy HH:mm')}"></td>
<!--                    <tr>-->
<!--                        <td><a th:href="@{/email/edit-template}" th:text="${name}"></a></td>-->
<!--                        <d>2024-09-29 19:07</td>-->
<!--                    </tr>-->
                    <tr>
                        <td><a th:href="@{/email_templates/}">Potwierdzenie 2</a></td>
                        <td>2024-09-29</td>
                    </tr>
                    <tr>
                        <td><a th:href="@{/email_templates/}">Potwierdzenie 3</a></td>
                        <td>2024-09-29</td>
                    </tr>
                    <tr>
                        <td><a th:href="@{/email/send}">Wyślij testowego maila</a></td>
                        <td>2024-09-29</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <footer th:replace="~{fragments :: CopyrightFooter}"></footer>
    </main>

</body>
</html>
