<!-- upload.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload PDF</title>
</head>
<body>
<h1>Prześlij plik PDF</h1>
<form action="/email/attachments/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept="application/pdf" required>
  <button type="submit">Prześlij</button>
</form>

<div>
  <span th:if="${successMessage}" th:text="${successMessage}"></span>
  <span th:if="${errorMessage}" th:text="${errorMessage}"></span>
</div>
</body>
</html>
