
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

main {
    width: 95%;
    max-width: 1500px;
    margin: 20px 0;
    border: 1px solid;
    /* display: flex; */
}

main#edit-main,
main#add-main,
main#delete-main {
    display: flex;
    justify-content: space-between;
}

/* Wyswietlanie klientow - lewa kolumna */
section#view-clients {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table#view-clients-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
}

#view-clients-table th, #view-clients-table td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

#view-clients-table th {
    background-color: #007bff;
    color: white;
}

#view-clients-table tbody tr:nth-child(even) {
    background-color: #a0aff06c;
}

nav#home-navigation {

    text-align: center;
}

div.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

nav#home-navigation a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav#home-navigation a.button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

section#client-overview a.back-button {
    /* position: absolute; */
    /* top: 90px; */
    /* left: 20px; */
    display: inline-block;
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

section#client-overview a.back-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    position: relative;
    padding: 8px;    
}


/* STRONA - edycja klienta */
/* Skrocona tabela */
section#client-overview {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table#client-overview-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85em;
}

#client-overview-table th, #client-overview-table td {
    padding: 6px 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Formularz edycji klienta */
section#edit-client, 
section#add-client,
section#delete-client {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#edit-client h2, 
section#add-client h2,
section#delete-client h2 {
    margin-bottom: 20px;
}

form#client-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form#client-form input[type="text"],
form#client-form input[type="number"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

form#client-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

form#client-form button:hover {
    background-color: #0056b3;
}

fieldset.form-group {
    border: 1 solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

fieldset.address-group {
    background-color: #f9f9f9;
}

fieldset.pickup-location-group { 
    margin-top: 20px;
}

legend {
    font-weight: bold;
    padding: 0 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 15px;
}


/* Ukrywanie domyślnych radiobuttonów */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Stylizacja etykiet radiobuttonów */
label.radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
}

/* Okrągłe przyciski radiobuttona */
label.radio-label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #007bff;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.5s, border-color 0.5s;
}

/* Wypełniony zaznaczony radiobutton */
input[type="radio"]:checked + label.radio-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

/* Zmieniony kolor tekstu dla zaznaczonego radiobuttona */
input[type="radio"]:checked + label.radio-label {
    color: #007bff;
}

.error-message {
    color: red;
    font-size: 0.875em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}