<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Nowego Klienta</title>
       <link rel="stylesheet" type="text/css" href="/css/style.css">
<!--  <link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
   <!-- <script src="../static/js/scripts.js"></script> -->
    <script src="/js/scripts.js"></script>
</head>
<body>
    <header>
        <span class="title">Dodaj Nowego Klienta</span>
    </header>

    <main id="add-main">
        <!-- Sekcja skrócona tabela klientów -->
        <section class="client-overview">
            <a href="/" class="back-button">Powrót</a>
            <h2>Lista klientów</h2>
            <table class="client-overview-table">
                <thead>
                    <tr>
                        <th>Numer klienta</th>
                        <th>Nazwa instytucji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.clientNumber}"></td>
                        <td th:text="${client.name}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Sekcja formularz edycji klienta -->
        <section id="edit-client">
            <h2>Dodaj nowego klienta</h2>
            <form id="add-client-form" class="client-form" th:action="@{/form}" method="post" >
<!--                <label for="add-client-id">Numer Klienta:</label>-->
<!--                <input type="text" id="add-client-id">-->
                    
                <label for="add-name">Nazwa Instytucji:</label>
                <input type="text" id="add-name" name="name" required>

                <label for="add-alias">Nazwa Potoczna:</label>
                <input type="text" id="add-alias" name="alias">

                <fieldset class="form-group address-grooup">
                    <legend>Adres</legend>    
                    <label for="add-street">Ulica:</label>
                    <input type="text" id="add-street" name="street" required>
                    
                    <label for="add-number">Numer:</label>
                    <input type="text" id="add-number" name="number" required>
                    
                    <label for="add-post-code">Kod Pocztowy:</label>
                    <input type="text" id="add-post-code" name="postCode" required>
                    
                    <label for="add-city">Miejscowość:</label>
                    <input type="text" id="add-city" name="city" required>
                </fieldset>

                <div class="checkbox-group">
                    <input type="checkbox" id="sameAsAddress" name="sameAsAddress">
                    <label for="sameAsAddress">Miejsce odbioru takie samo jak adres</label>
                </div>
                <fieldset class="form-group pickup-location-group">
                    <legend>Miejsce Odbioru</legend>
                    
                    <label for="add-pickup_location">Miejsce:</label>
                    <input type="text" id="add-pickup_location" name="pickupLocation.pickupLocation">
                    
                    <label for="add-pickup_street">Ulica:</label>
                    <input type="text" id="add-pickup_street" name="pickupLocation.pickupStreet">
                    
                    <label for="add-pickup_number">Numer:</label>
                    <input type="text" id="add-pickup_number" name="pickupLocation.pickupNumber">
                    
                    <label for="add-pickup_post-code">Kod Pocztowy:</label>
                    <input type="text" id="add-pickup_post-code" name="pickupLocation.pickupPostCode">
                    
                    <label for="add-pickup_city">Miejscowość:</label>
                    <input type="text" id="add-pickup_city" name="pickupLocation.pickupCity">
                </fieldset>

                <button type="submit">Dodaj Nowego Klienta</button>
            </form>
        </section>
    </main>
    <footer th:replace="fragments/footer :: CopyrightFooter"></footer>
</body>
</html>