<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja klientów</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
<!--   <link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
<!--        <script src="../static/js/scripts.js"></script>-->
    <script src="/js/scripts.js"></script>
</head>
<body>
    <header>
        <span class="title">Edycja Klienta</span>
    </header>

    <main id="edit-main">
        <!-- Sekcja skrócona tabela klientów -->
        <section id="client-overview">
            <a th:href="@{/}" class="back-button">Powrót</a>
            <h2>Lista klientów</h2>
            <table id="client-overview-table">
                <thead>
                    <tr>
                        <th>Numer klienta</th>
                        <th>Nazwa instytucji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.clientNumber}"></td>
                        <td th:if="${client.alias != null and !client.alias.equals('')}" th:text="${client.name} + ' (' + ${client.alias} + ')'"></td>
                        <td th:unless="${client.alias != null and !client.alias.equals('')}" th:text="${client.name}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Sekcja formularz edycji klienta -->
        <section id="edit-client">
            <h2>Edytuj klienta</h2>
            <form id="client-form">
                <label for="edit-client-id">Numer Klienta:</label>
                <input type="text" id="edit-client-id">
                    
                <label for="edit-name">Nazwa Instytucji:</label>
                <input type="text" id="edit-name" name="edit-name" required>

                <fieldset class="form-group address-grooup">
                    <legend>Adres</legend>    
                    <label for="edit-street">Ulica:</label>
                    <input type="text" id="edit-street" name="edit-street" required>
                    
                    <label for="edit-number">Numer:</label>
                    <input type="text" id="edit-number" name="edit-number" required>
                    
                    <label for="edit-post-code">Kod Pocztowy:</label>
                    <input type="text" id="edit-post-code" name="edit-post-code" required>
                    
                    <label for="edit-city">Miejscowość:</label>
                    <input type="text" id="edit-city" name="edit-city" required>
                </fieldset>

                <div class="checkbox-group">
                    <input type="checkbox" id="pickup-location-same-as-address" name="sameAsAddress">
                    <label for="pickup-location-same-as-address">Miejsce odbioru takie samo jak adres</label>
                </div>
                <fieldset class="form-group pickup-location-group">
                    <legend>Miejsce Odbioru</legend>
                    
                    <label for="edit-pickup_location">Miejsce:</label>
                    <input type="text" id="edit-pickup_location" name="edit-pickup_location">
                    
                    <label for="edit-pickup_street">Ulica:</label>
                    <input type="text" id="edit-pickup_street" name="edit-pickup_street">
                    
                    <label for="edit-pickup_number">Numer:</label>
                    <input type="text" id="edit-pickup_number" name="edit-pickup_number">
                    
                    <label for="edit-pickup_post-code">Kod Pocztowy:</label>
                    <input type="text" id="edit-pickup_post-code" name="edit-pickup_post-code">
                    
                    <label for="edit-pickup_city">Miejscowość:</label>
                    <input type="text" id="edit-pickup_city" name="edit-pickup_city">
                </fieldset>

                <button type="submit">Zapisz Zmiany</button>
            </form>
        </section>
    </main>

    <footer th:replace="~{fragments/footer :: CopyrightFooter}"></footer>
</body>
</html>